<table id="search_posts" class="table table-bordered">
  <thead>
    <tr>
      <th>投稿数</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @finder_book.present? %>
      <td><%= finder_book %></td>
      
    </tr>
  </tbody>
</table>